<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @reporting_head.username %></h1>
<p>
  New leave request has been successfully submitted for your approval by <%= @user.username%>.
</p>
<p>
  Please take necessary action.
</p>
<p>Thanks and have a great day!</p>
</body>
</html>